.vs
.vscode

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

*bin/

!deps/windows/bin
!deps/macos/bin
!deps/linux/bin

Launcher/output
_todo.txt

Design/

*imgui.ini
*test_file.bin
*test_file.txt
*output 